<div class = "login_wrapper">
<h1 class = "welcome">Welcome to the Ultimate Giga Master Super Summoner King</h1>
<h3 class = "subtext">to proceed please log in</h3>

<%= form_with model: @user do |form| %>
  <%= form.text_field :name%>
  <%= form.submit "log in"%>
<%end%>
</div>

