<div class = "navigation_menu">
    <%if @game%>
    <%= button_to "Return", root_path, method: :get, class:"menubutton" %>
    <%= button_to "Reset Board", "/reset/#{@game.id}", method: :get, class:"menubutton" %>
    <% end %>
  </div>