<section class = "navigation_game_status_bar">
  <div class = "navigation_menu">
    <%if @game%>
    <%= button_to "Reset Board", "/reset/#{@game.id}", method: :get, class:"menubutton" %>
    <% end %>
  </div>
  <div class = "loginstatus_box">
  <% if @current_user%>
      <p class = "loginstatus">logged in as <%= @current_user.name %></p>
      <%= button_to "log out", logout_path, class:"logout_button"%>
    <% end %>
  </div>
</section>