<section class = "box_with_board_log_and_player">
<div class ="boardcontainer" data-controller="boardfield" >
    <%= render partial: "games/board"%>
    <section class = "innerpadding"></section>
    <%= render partial: "games/eventlog"%>
 </div>
    <%= render partial: "games/players_in_game"%>
</section>