<div class = "players_in_game_display">
    <table class = "playerlist">
          <% if PvpPlayers.exists?(game_id: @game.id) %>
            <% PvpPlayers.where(game_id: @game.id).sort { |a,b| a.id <=> b.id }.each do |player| %>
            <td class = "player_column">
              <p class="name_text" style= "--color: <%= player.color%>;"><%= "#{player.name} MANA:#{player.mana}/#{player.max_mana}" %></p>
              <% FinderManager::FindMinionsByOwner.call(player.id).each do |minion|%>
              <li class="smallcenteredtext"><%="#{minion.minion_type}, @[#{minion.x_position},#{minion.y_position}] Health: #{minion.health}/#{MinionStat.find_by(minion_type: minion.minion_type).health}"%></li>
              <%end%>
            </td>
            <% end %>
          <% end %>
    </table>
  </div>