<section class ="statusbox" >
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_user}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_player}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_player}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{local_assigns}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_player}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_player}"%>
    <% puts "WITHIN STATUSBOX SECTION game: #{@game}, current_player: #{@current_player}"%>
  <%= render partial: "games/game_control_menu", locals: {game: @game, current_player: @current_player}%>
</section>
