<section class ="statusbox" >
  <% @current_player = current_player%>
  <% @game = game%>
  <%= render partial: "games/user_frame" %>
  <%= render partial: "games/game_control_menu", locals: {game: @game, current_player: @current_player}%>
</section>
