<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>
<% Game.all.to_a.each do |game|%>
<p><%= link_to "Game number #{game.id} - Current players #{game.player_ids.size}", "/games/#{game.id}" %></p>
<% end %>
<p>test</p>
