.banner {
  height: 60px;
  background-color: rgb(5, 76, 5);
  background-image: url("banner_thing.jpg");
  background-repeat: no-repeat;
  background-size: 1800px 900px;
  background-position: -100px ;
  background-blend-mode: multiply;
  border:5px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: right;
  align-content: center;
}

.loginstatus_box {
  margin-right: 1%;
  align-self: center;
}

.loginstatus {
  color: aliceblue;
  margin: 0px;
}

.loginstatus_box .logout_button {
  margin-left: 15%;
  margin-right: 0;
  font-variant-caps: small-caps;
  width: 100px;
  font-weight: bold;
  font-style: oblique;
  font-size: 10px;
  border: 1px solid darkgreen;
  background-color:rgba(109, 44, 44, 0.172);
  color: aliceblue;
  transition-duration: 0.4s;
}

.logout_button:hover {
  background-color: rgb(109, 44, 44); /* Green */
}
