

.game_list {
  display:grid;
}

:any-link {
  color: aliceblue;
}

.game_list .repo_link {
  margin: auto;
  font-variant-caps: small-caps;
  width: auto;
  font-weight: bold;
  font-style: oblique;
  font-size: 24px;
}

.game_list .game_link {
  margin: auto;
  font-variant-caps: small-caps;
  width: auto;
  font-weight: bold;
  font-style: oblique;
  font-size: 24px;
}

