.navigation_menu {
 margin-left: 20%;
 margin-right: 20%;
 height: 20px;
 display: flex;
 align-content: center;
 justify-content: center;
}

.navigation_menu .menubutton {
  justify-self: center;
  font-variant-caps: small-caps;
  width: 100px;
  font-weight: bold;
  font-style: oblique;
  font-size: 12px;
  border: 1px solid rgb(0, 0, 0);
  background-color:rgba(29, 29, 29, 0.697);
  color: aliceblue;
  transition-duration: 0.4s;
}

.menubutton:hover {
  background-color: rgb(109, 44, 44);
}