body {
  background-color: darkgreen;
}

  .upperbar {
    height: 60px;
    background-color: darkgreen;
  }

  .gameplayrow {
    display: flex;
  }

  .gameplayrow .statusbox {
    background-color: darkgreen;
    flex: 50%;
  }

  .statusbox .centred_text {
    text-align: center;
    font-size: 1.1rem;
  }

  .statusbox .smallcenteredtext {
    text-align: center;
    font-size: 0.8rem;
    color:aliceblue;
  }

  .gameplayrow .boardcontainer {
    background-color: rgb(80, 165, 80);
    flex: auto;
  }

  .boardcontainer .minion {
    position: absolute;
  }

  .boardcontainer .board {
    border-collapse: separate;
    border-spacing:0;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
  }

  .board .field {
    display: block;
    background-image: url('board_tiles');
    background-position: var(--position);
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0;
    width: 64px;
    height: 64px;
    line-height: 0;
  }

  .field .tooltiptext {
    font-size: 0.5rem;
    visibility: hidden;
    width: 20px;
    background-color: rgba(165, 42, 42, 0.538);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    line-height: 1;
    opacity: .8;
    position: absolute;
    z-index: 1;
  }

  .field:hover .tooltiptext {
    visibility: visible;
  }

  .playerlist {

  }

  .playerlist .player_column {
    width: auto;
    min-width: 100px;
  }

  .field:hover {
  background-blend-mode: luminosity;
  -webkit-filter: grayscale(0.4);
  }

  .gameplayrow .combatlog {
    font-size: x-small;
    text-align: left;
    height:auto;
    max-height:500px;
    color:aliceblue;
    flex: 25%;
    background-color: black;
    border: 3px dotted white;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .padding {
    width: 50px;
  }

  .innerpadding {
    width: 20px;
  }








